{% extends 'template_base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Características</h4>
            <table class="table">
                <thead>
                    <tr>
                        {% if not session.get('is_admin') %}
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Modelo</th>
                        {% else %}
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Modelo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for caracteristica in caracteristicas %}
                    <tr>
                        {% if not session.get('is_admin') %}
                        <td>{{ caracteristica.tipo }}</td>
                        <td>{{ caracteristica.descripcion }}</td>
                        <td>{{ caracteristica.modelo.nombre }}</td>
                        {% else %}
                        <td>{{ caracteristica.id }}</td>
                        <td>{{ caracteristica.tipo }}</td>
                        <td>{{ caracteristica.descripcion }}</td>
                        <td>{{ caracteristica.modelo.nombre }}</td>
                        <td>
                            <a href="{{ url_for('caracteristica.editar_caracteristica', id=caracteristica.id) }}" class="btn btn-success">Editar</a>
                        </td>
                        <td>
                            <form action="{{ url_for('caracteristica.borrar_caracteristica', id=caracteristica.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que queres eliminar esta característica?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if session.get('is_admin') %}
            <a href="{{ url_for('caracteristica.nueva_caracteristica') }}" class="btn btn-primary">Agregar Nueva Característica</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
