{% extends "template_base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mt-5">
        <h1>Bienvenido!</h1>
        <p>
            <div class="mt-4">
                <a href="{{ url_for('auth_view.register_view') }}" class="btn btn-primary">Registrarse</a>
                <a href="{{ url_for('auth_view.login_view') }}" class="btn btn-success">Iniciar sesión</a>
            </div>
        </p>
    </div>

    <h3>Resumen de Funcionalidades</h3>
    <p>Este sistema permite la gestión integral de un local de venta de celulares. A continuación, se presenta un resumen de las funcionalidades disponibles:</p>

    <div class="row">
        <div class="container mb-3">
            <div class="col-md-12">
                <h4>Acceso y Restricciones</h4>
                <p>
                    El sistema cuenta con las siguientes restricciones de acceso:
                    <ul>
                        <li>Solo los usuarios <strong>admin</strong> pueden ver los usuarios registrados, la administración del sistema, y los botones de CRUD.</li>
                        <li>Los usuarios no admin no podrán ver los <code>id</code> ni acceder a la administración ni usuarios.</li>
                    </ul>
                </p>

                <h4>Funcionalidades Principales</h4>
                <ul>
                    <li><strong>Login:</strong> Permite el acceso al sistema a través de credenciales.</li>
                    <li><strong>Creación de Usuarios:</strong> Registro de nuevos usuarios en el sistema.</li>
                    <li><strong>Endpoints para obtener los objetos de todos los modelos (sin restricción):</strong> Estos endpoints permiten recuperar los objetos de cada modelo sin restricciones, facilitando la visualización de datos públicos.</li>
                    <li><strong>Endpoint para crear un nuevo objeto (limitado a usuarios Admin):</strong> Solo los administradores tienen permiso para crear nuevos objetos, protegiendo la integridad de los datos.</li>
                    <li><strong>Documentación de Endpoints:</strong> Se incluye documentación detallada de cada endpoint del sistema.</li>
                    <li><strong>Serialización con Marshmallow:</strong> La serialización de datos se realiza utilizando Marshmallow, facilitando la conversión de los datos a JSON para su manejo en la API.</li>
                    <li><strong>Modelo Anidado:</strong> Al menos un modelo contiene otro modelo anidado para mejorar la organización y relación de los datos.</li>
                </ul>

                <h4>Modelos del Sistema</h4>
                <p>A continuación, se detalla cada modelo y sus relaciones:</p>

                <h5>Marca</h5>
                <p>Representa las marcas de equipos. Cada marca tiene un <code>id</code> único y un <code>nombre</code>. Está relacionada con <code>Equipo</code>.</p>

                <h5>Fabricante</h5>
                <p>Representa los fabricantes de modelos. Cada fabricante tiene un <code>id</code>, <code>nombre</code>, y <code>pais_origen</code>. Está relacionado con <code>Modelo</code>.</p>

                <h5>Modelo</h5>
                <p>Representa los modelos de equipos. Cada modelo tiene un <code>id</code>, <code>nombre</code>, y una relación con <code>Fabricante</code>. Está asociado con <code>Equipo</code>, <code>Caracteristica</code>, y <code>Accesorio</code>.</p>

                <h5>Categoria</h5>
                <p>Representa las categorías de equipos. Cada categoría tiene un <code>id</code> y un <code>nombre</code>. Está relacionada con <code>Equipo</code>.</p>

                <h5>Caracteristica</h5>
                <p>Describe características específicas de los modelos. Cada característica tiene un <code>id</code>, <code>tipo</code>, <code>descripcion</code>, y está asociada a <code>Modelo</code>. Está relacionada con <code>Equipo</code>.</p>

                <h5>Stock</h5>
                <p>Representa el inventario de equipos. Cada stock tiene un <code>id</code>, <code>cantidad</code>, <code>ubicacion</code>, y está asociado con <code>Equipo</code>. Incluye un estado de disponibilidad.</p>

                <h5>Proveedor</h5>
                <p>Representa los proveedores de inventarios. Cada proveedor tiene un <code>id</code>, <code>nombre</code>, y <code>contacto</code>. Está relacionado con <code>Inventario</code>.</p>

                <h5>Accesorio</h5>
                <p>Describe accesorios para modelos. Cada accesorio tiene un <code>id</code>, <code>tipo</code>, y está asociado con <code>Modelo</code>. Está relacionado con <code>Equipo</code>.</p>

                <h5>Equipo</h5>
                <p>Representa los equipos disponibles. Cada equipo tiene un <code>id</code>, <code>nombre</code>, <code>precio</code>, y está asociado con <code>Categoria</code>, <code>Marca</code>, <code>Modelo</code>, <code>Caracteristica</code>, y opcionalmente <code>Accesorio</code>. Está relacionado con <code>Stock</code>.</p>

                <h5>Cliente</h5>
                <p>Representa a los clientes que realizan compras. Cada cliente tiene un <code>id</code> y <code>nombre</code>. Está relacionado con <code>Venta</code>.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
