{% extends 'template_base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Fabricantes</h4>
            <table class="table">     
                <thead>
                    <tr>
                        {% if not session.get('is_admin') %}
                        <th>Nombre</th>
                        <th>Origen</th>
                        {% else %}
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Origen</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for fabricante in fabricantes %}
                    <tr>
                        {% if not session.get('is_admin') %}
                        <td>{{ fabricante.nombre }}</td>
                        <td>{{ fabricante.pais_origen }}</td>
                        {% else %}
                        <td>{{ fabricante.id }}</td>
                        <td>{{ fabricante.nombre }}</td>
                        <td>{{ fabricante.pais_origen }}</td>
                        <td><a href="{{ url_for('fabricante.editar_fabricante', id=fabricante.id) }}" class="btn btn-success">Editar</a></td>
                        <td>
                            <form action="{{ url_for('fabricante.eliminar_fabricante', id=fabricante.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que queres borrar este fabricante?');">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {% if session.get('is_admin') %}
            <a href="{{ url_for('fabricante.crear_fabricante') }}" class="btn btn-primary mb-2">Agregar Nuevo Fabricante</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
