{% extends 'template_base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Listado de Proveedores</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Contacto</th>
                        {% if session.get('is_admin') %}
                        <th>ID</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>
                        {% if session.get('is_admin') %}
                        <td>{{ proveedor.id }}</td>
                        <td>
                            <a href="{{ url_for('proveedor.editar_proveedor', id=proveedor.id) }}" class="btn btn-success">Editar</a>
                        </td>
                        <td>
                            <form action="{{ url_for('proveedor.borrar_proveedor', id=proveedor.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que queres eliminar este proveedor?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                        {% endif %}
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.contacto }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if session.get('is_admin') %}
            <a href="{{ url_for('proveedor.nuevo_proveedor') }}" class="btn btn-primary">Agregar Nuevo Proveedor</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
