<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda de Celulares{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .custom-navbar {
        background-color: #22003d;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand" href="/">Tienda de Celulares</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="{{ url_for('auth_view.lista_usuarios') }}">Usuarios</a>
                    <a class="nav-item nav-link active" href="{{ url_for('auth_view.admin_view') }}">Administración</a>
                    <a class="nav-item nav-link active" href="/marcas">Marcas</a>
                    <a class="nav-item nav-link active" href="/fabricantes">Fabricantes</a>
                    <a class="nav-item nav-link active" href="/modelos">Modelos</a>
                    <a class="nav-item nav-link active" href="/categorias">Categorias</a>
                    <a class="nav-item nav-link active" href="/caracteristicas">Caracteristicas</a>
                    <a class="nav-item nav-link active" href="/accesorios">Accesorios</a>
                    <a class="nav-item nav-link active" href="/equipos">Equipos</a>
                    <a class="nav-item nav-link active" href="/proveedores">Proveedores</a>
                    <a class="nav-item nav-link active" href="/stocks">Stock</a>
                    <a class="nav-item nav-link active" href="/clientes">Clientes</a>
                </div>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
